.client-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 140px;
	background-color: #f6f2f2;
	position: relative;
}

.client-section-title {
	font-size: 24px;
	padding: 3px 40px;
	background-color: var(--main-bg-color);
	border-radius: 0 0px 15px 15px;
	position: absolute;
	top: 0;
}

.client-list {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 300px);
	gap: 30px;
	list-style: none;
	position: relative;
}

.client-item {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.client-img {
	width: 100%;
}

.client-logotipe {
	position: absolute;
}

.client-btn {
	display: none;
	position: absolute;
	width: max-content;
	height: max-content;
	border: none;
	background: none;
	font-size: 30px;
	font-weight: 600;
}

.client-btn-left {
	left: 25px;
	z-index: 200;
}

.client-btn-right {
	right: 25px;
}

@media screen and (max-width: 1640px) {
	.client-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 780px) {
	.client-section {
		padding: 70px 25px;
	}

	.client-list {
		overflow: hidden;
		grid-template-columns: repeat(6, 100%);
		grid-template-rows: repeat(1, 300px);
		align-items: center;
	}

	.client-item {
		background: none;
	}

	.client-img {
		height: auto;
	}

	.client-btn {
		display: inline-block;
	}
}

@media screen and (max-width: 500px) {
	.client-section-title {
		font-size: 20px;
		padding: 3px 20px;
	}
}

@media screen and (max-width: 400px) {
	.client-section-title {
		text-align: center;
		font-size: 18px;
	}
}
